@use './Primary-colors' as *;

@mixin button {
    padding: 0.7rem 1.6rem;
    color: $white;
    background-color: $red;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.15);
    border-radius: 0.3rem;
    border-style: none;
}

.primary-btn {
    @include button
}


    // font-family: Roboto;
    // font-weight: 700;
    // font-size: 1.4rem;
    // text-transform: uppercase;
    // min-height: 3.4rem;
    // padding: 0.7rem 6px;
    // line-height: 1.4;