$khaki: #E2D7AC;
$sand: #B4A996;
$gold: #ECB731;
$safety-green: #8EC06C;
$forest-green: #537B35;
$light-blue: #C4DFF6;
$sky-blue: #56A0D3;
$classic-blue: #0091cd;
$midnight-blue: #004B79;
$deep-red: #7F181B;